*.aps
*.suo
*.ncb
*.opensdf
*.sdf
*.cfg
*.cachefile
Ballz/Ballz.vcproj.Marek-PC.Marek.user
Ballz/Ballz.vcxproj.marekt.nvuser
Ballz/Ogre.log
Ballz/bin/
Ballz/obj/
UpgradeLog.XML
VisualStudio.gitignore
_UpgradeReport_Files/
ipch/
