*.aps
*.suo
*.ncb
*.opensdf
*.sdf
*.cfg
*.cachefile
Ballz/Ballz.vcproj.Marek-PC.Marek.user
Ballz/Ballz.vcxproj.marekt.nvuser
Ballz/Ogre.log
Ballz/bin/
Ballz/obj/
UpgradeLog.XML
VisualStudio.gitignore
_UpgradeReport_Files/
ipch/

EditorUi/Debug/
EditorUi/DebugStandalone/
EditorUi/Release/
EditorUi/x64/

EditorUi/DummyClient/Debug/

EditorUi/CppWinForm1/Debug/
EditorUi/CppWinForm1/DebugStandalone/
EditorUi/CppWinForm1/Release/
EditorUi/CppWinForm1/x64/
*.log
*.tlog
*.opendb
*.db