AutumnAshes.ncb
AutumnAshes.sdf
AutumnAshes_vc8.ncb
AutumnAshes.v12.suo
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile
Ballz/Ballz.vcproj.Marek-PC.Marek.user
Ballz/Ballz.vcxproj.marekt.nvuser
Ballz/Ogre.log
Ballz/bin/
Ballz/obj/
UpgradeLog.XML
VisualStudio.gitignore
_UpgradeReport_Files/
ipch/
